<sb-layout-blog >
    <!-- <div class="overlay"></div> -->

    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <p class="copyright text-muted">Kevin Broadbridge, 2020. Developed with Angular and hosted on Firebase.</p>
            </div>
        </div>
    </div> -->

    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                        <h1>Kevin</h1>
                        <span class="subheading">{{subHeading}}</span>
                    </div>
            </div>
        </div>
    </div> -->
</sb-layout-blog>