<sb-layout-blog>


    <div class="container" >
        <div class="text-center">
            <h3 class=" text-uppercase">Certifications</h3>
        </div>
        <div class="row justify-content-center " @moveIn>
            <div class="col-4 col-sm-3 col-md-2 align-items-stretch">
                <a href="https://www.youracclaim.com/badges/636f138d-3296-43ed-866d-866fca39a942/public_url" target="_blank">
                <img class="img-fluid " src="assets/img/cka.png" alt="">
                </a>
            </div>
            <div class="col-4 col-sm-3 col-md-2 align-items-stretch">
                <a href="https://www.youracclaim.com/badges/13a5b306-3ece-4cfb-a7d3-eca742a80843/public_url" target="_blank">
                <img class="img-fluid " src="assets/img/azure-solutions-architect-expert.png" alt="">
                </a>
            </div>
            
            <div class="col-4 col-sm-3 col-md-2 align-items-stretch">
                <a  href="https://www.youracclaim.com/badges/b5608fb0-b2e3-48e4-b90d-1fd36f67dc92" target="_blank">
                <img class="img-fluid " src="assets/img/azure-administrator-associate.png" alt="">
                </a>
            </div>
            
        </div>
        <div class="text-center">
            <h3 class="text-uppercase">Skills</h3>
        </div>
        <div class="row justify-content-center " [@moveUp] >
                <div class="col-lg-2 col-md-10 col-sm-10 align-items-stretch mb-3" *ngFor="let skillSet of skillSets">
                    <div class="card" >
                        <div class="card-body align-self-center">
                            <h6 class="card-title text-center">{{skillSet.skillSetName}}</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li *ngFor="let skillName of skillSet.skillList" class="list-group-item text-center">{{skillName}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</sb-layout-blog>
