<sb-layout-blog>
    <div class="container" >
        <div class="row justify-content-around align-content-around align-items-center">
            <div class="col-lg-3">
                <a class="nav-link icon" href="https://github.com/kebroad/lsu-pcb-laser-system" target="_blank">
                <div class="card">
                    <img class="card-img-top" src="assets/img/pcblasermachine.gif" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">Printed Circuit Board Laser Exposure Machine</h6>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a class="nav-link icon" href="https://github.com/kebroad/TigerVent" target="_blank">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="assets/img/ventilator.gif" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title">Ventilator Enhancements</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <div class="card" >
                    <a class="nav-link icon" href="https://github.com/kebroad/stm32-wifi-camera" target="_blank">
                    <img class="card-img-top img-fluid" src="assets/img/stm32-webcam.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">STM32 Wifi Camera</h5>
                    </div>
                    </a>
                </div>
            </div>
            
            <div class="col-lg-3">
                <a class="nav-link icon" href="https://github.com/kebroad/personal-website" target="_blank">
                <div class="card">
                    <img class="card-img-top" src="assets/img/website.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Website Source Code</h5>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</sb-layout-blog>