.image{
    //height:40em; 
    height: 100vh;
    background-size:cover;
    width:auto;
    background-image:url("https://firebasestorage.googleapis.com/v0/b/kevinbroadbridge-b609b.appspot.com/o/IMG_20180822_191403-1%20(3).jpg?alt=media&token=e9c1c3f7-6943-4b0f-b78b-fe9697d925ad");
    background-position:50% 50%;
}
