<sb-layout-blog>
    <div class="container">
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="/assets/img/exxonmobil.png"   alt="" /></div>
                    <div class="timeline-panel" @shiftRight>
                    <div class="timeline-heading">
                        <h6>August 2019 - Present</h6>
                        <h5 class="subheading">Cloud Engineer, ExxonMobil</h5>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li> Designed and built automation and centralized logging across the cloud tenant.</li>
                            <li>Architected and implemented multiple business unit’s infrastructure in the hybrid/connected cloud.</li>
                            <li> Created CI-CD Pipeline tasks integrating infrastructure-as-code deployments.</li>
                            <li> Troubleshooted and tested connectivity, authentication, and security.</li>
                            <li> Designed fully privately connected Kubernetes clusters hosted in the hybrid cloud.</li>
                            <li> Designed and built APIs for domain joining virtual machines.</li>
                            <li> Organized work with agile/scrum and code development/version control with git.</li>
                            <li> Reviewed and approved team member's pull requests.</li>
                        </ul>
                    </div>
                </div>


            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="/assets/img/lsu.png"  alt="" />
                </div>
                <div class="timeline-panel"@shiftLeft>
                    <div class="timeline-heading">
                        <h6>August 2015-May 2019</h6>
                        <h4 class="subheading">Student Assistant Lab Manager, LSU ProtoLab</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li> Prototyped and designed circuit boards for grad students, senior design, and other projects. </li>
                            <li> Operated, maintained, and fixed lab machines including 3D printers, PCB mills, soldering irons, reflow plates/ovens.</li>
                            <li> Taught PCB prototyping, including processing a circuit board using photolithography, soldering/reflowing components, and troubleshooting circuit flaws.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/exxonmobil.png" alt="" /></div>
                <div class="timeline-panel" >
                    <div class="timeline-heading">
                        <h6>Summer 2018</h6>
                        <h5 class="subheading">Intern, ExxonMobil</h5>
                    </div>
                        <div class="timeline-body">
                            <ul>
                                <li> Built Continuous Integration/Continuous Delivery Pipeline for Puppet server automation.</li>   
                                <li> Implemented ephermeral server environments with unit/acceptance testing stages to pipeline.</li> 
                                <li> Automated server configuration code deployment onto servers.</li> 
                                <li> Configured automation engines on Linux servers, and built webhook triggers on source control pull requests.</li> 
                                <li> Organized work with agile/scrum and code development/version control with git.</li> 
                            </ul>
                        </div>    
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/entergy.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6>Summer 2017</h6>
                        <h5 class="subheading">Intern, Entergy</h5>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Created tutorials on operations with the Project Cost Sheet, which tracks purchases for \$5-10 million projects, for project management.
                        </li>    
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/entergy.png" alt="" /></div>
                <div class="timeline-panel" >
                    <div class="timeline-heading">
                        <h6>Summer 2016</h6>
                        <h5 class="subheading">Intern, Entergy</h5>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li> Programmed IEC 61850 compliant electronic relays.</li>
                            <li> Built database of  relay configuration templates.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/two-tonys.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6>Summer 2014</h6>
                        <h5 class="subheading">Busboy, 2 Tony's Restaurant</h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</sb-layout-blog>
