<sb-layout-blog>
    <div class="container">
        <ul class="timeline">
            <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="/assets/img/exxonmobil.png"   alt="" /></div>
                    <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6>August 2019 - Present</h6>
                        <h5 class="subheading">Cloud Engineer, ExxonMobil</h5>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Designed and built automation and centralized logging across the cloud tenant</li>
                            <li>Architected and implemented business unit’s infrastructure in the hybrid/connected cloud</li>
                            <li>Created CI-CD Pipeline tasks integrating infrastructure-as-code deployments</li>
                            <li>Troubleshooted and tested connectivity, authentication, and security</li>
                            <li>Designed fully privately connected Kubernetes clusters hosted in the cloud</li>
                            <li>Organized work with agile/scrum and code development/version control with git</li>
                        </ul>
                    </div>
                </div>


            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="/assets/img/lsu.png"  alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6>August 2015-May 2019</h6>
                        <h4 class="subheading">ProtoLab Assistant, LSU</h4>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Create the circuit board design and 3D case model built in EE 2810, Tools in Electrical Engineering lab class. (rechargeable USB light)</li>
                            <li>Mill and assist in designing circuit boards for grad students, senior design, and other projects</li>
                            <li>Teach the EE 2810 lab class to 6-7 groups of 8-10 students, demonstrating the process of creating a circuit board using the photolithography process and soldering components to the board</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/exxonmobil.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6>Summer 2018</h6>
                        <h5 class="subheading">Intern, ExxonMobil</h5>
                    </div>
                        <div class="timeline-body">
                            <ul>
                                <li>Built Continuous Integration/Continuous Delivery Pipeline for Puppet Server Automation.</li>
                                <li>Designed program that automates the process from a single code development push to the application of code on the server, including unit and acceptance testing on ephemeral testing environments.</li>
                                <li>Learned and applied server configuration software, automation engines, containers, ephemeral virtual machines, testing frameworks, the agile method, and version control into project</li>
                                <li>Automated process that bridged the gap between development and operations of Linux servers.</li>
                            </ul>
                        </div>    
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/entergy.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6>Summer 2017</h6>
                        <h5 class="subheading">Intern, Entergy</h5>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Created video modules on teaching the Project Cost Sheet, a document that project managers use to track cash flows for $5-20 million projects</li>
                            <li>Assisted in bundling projects for efficiency and cost savings</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/entergy.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6>Summer 2016</h6>
                        <h5 class="subheading">Intern, Entergy</h5>
                    </div>
                    <div class="timeline-body">
                        <ul>
                            <li>Programmed IEC 61850 compliant electronic relays</li>
                            <li>Built database of  relay configuration templates</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/two-tonys.png" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h6>Summer 2014</h6>
                        <h5 class="subheading">Busboy, 2 Tony's Restaurant</h5>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</sb-layout-blog>
